[submodule "ResearchFramework"]
	path = ResearchFramework
	url = https://github.com/iasolb/ResearchFramework.git
[submodule "FRED_Loader"]
	path = FRED_Loader
	url = https://github.com/iasolb/FRED_Loader.git
[submodule "Census_Loader"]
	path = Census_Loader
	url = https://github.com/iasolb/Census_Loader.git
