[submodule "otter"]
	path = otter
	url = https://github.com/iasolb/otter.git
[submodule "fred-loader"]
	path = fred-loader
	url = https://github.com/iasolb/fred-loader.git
[submodule "census-loader"]
	path = census-loader
	url = https://github.com/iasolb/census-loader.git
